body{
    background-color: rgb(240, 240, 240);
    padding: 15px;
}

.container {
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: cadetblue;
    padding: 10px;
    box-sizing: border-box;
    
}
.kotak1 {
    flex: 2;
    order: 2;   

    padding: 0 15px 0 15px;
    
    background-color: burlywood;
}
.kotak2 {
    padding: 0 15px 0 15px;
    flex: 1;
    order: 1;
    background-color: cornflowerblue;
    
}
.kotak3 {
    flex: 1;
    padding: 0 15px 0 15px;
    order: 3;
    background-color: darkslategray;

}