.custom-shape-divider-bottom-1714880873 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

}

.custom-shape-divider-bottom-1714880873 svg {
    position: relative;
    display: block;

    width: calc(100% + 1.3px);
    height: 135px;
}

.custom-shape-divider-bottom-1714880873 .shape-fill {
    fill: #d96666;
}